<!DOCTYPE html>
<html>
    <body>
        <form method="GET">
            <input type='text' name="s" />
        </form>
        <ul>
            <% for (let day of days) { %>
                <li><%= day %></li>
            <% } %>
        </ul>
    </body>
</html>