<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (user != null) { %>
      <p>Hi! <%= user.email %></p>
    <% } %>
    <p>Welcome to <%= title %></p>
  </body>
</html>
