<form method="POST" action="<%= action %>">
    <label>
        Name: 
        <input type="text" name="name" value="<%= item.name %>"/>
    </label>

    <label>
        Email:
        <input type="email" name="email" value="<%= item.email %>" />
    </label>

    <input type="submit" value="Save" />
</form>