<!DOCTYPE html>
<html>
    <body>
        <h1>Edit Contact Item</h1>
        <%- include('_form', { action: `/contacts/${item.id}` }) %>
        <a href='/contacts'>Back To Index</a>
    </body>
</html>
